HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
/src/main/resources
!**/src/test/**/target/
!**/src/.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### js ###
# dependencies
/src/js/node_modules
/src/js/.pnp
/src/js/.pnp.js

# testing
/src/js/coverage

# production
/src/js/build

# misc
/src/js/.DS_Store
/src/js/.env.local
/src/js/.env.development.local
/src/js/.env.test.local
/src/js/.env.production.local

/src/js/npm-debug.log*
/src/js/yarn-debug.log*
/src/js/yarn-error.log*
